#category header {
    box-sizing: border-box;
    width:100%;
    padding:0 .10rem;
    height:.44rem;
    position: relative;
    border:0;
    img{
        position: absolute;
        left:7%;
        top:50%;
        width:.2rem;
        height:.2rem;
        margin-top: -.1rem;
        z-index: 1;
    }
    input{
        width:70%;
        border-radius: .15rem;
        border:0;
        height:.27rem;
        background-color: #F5F5F5;
        // display: inline-block;
        // vertical-align: middle;
        position: absolute;
        left:3%;
        top:50%;
        margin-top:-.13rem;
        padding-left:.2rem;
        margin-left:.1rem;
        text-indent: 5%;
    }
    span{
        width:0;
        height:100%;
        display: inline-block;
        vertical-align: middle;
    }
}

#category section{
    width:100%;
    padding:0 .15rem;
    margin-bottom:.5rem;
    background:white;
    img{
        height:1.15rem;
        display: block;
        margin: auto;
    }
    ul{
        width:100%;
        li{
            width:100%;
            color: #000;
            border-bottom: 1px solid #eaeaea;
            height:.5rem;
            line-height: .5rem;
            font-size:.15rem;
            text-indent: .1rem;
            span{
                display: inline-block;
                float:right;
                color: #ccc;
                font-size:.3rem;
            }
        }
    }
}