#furniture ul{
    width:100%;
    li{
        text-align: center;
        h2{
            font-weight: bold;
            font-size: 0.18rem;
            color: #333;
            margin: 0.15rem 0;
        }
        h3{
            font-size: 0.12rem;
            color: #808080;
            margin-bottom: 0.1rem;
            font-weight: normal;
        }
    }
}