*{
	margin:0;
	padding:0;
	font-size: .14rem;
}

html {
  font-family: sans-serif; /* 1 */
  -ms-text-size-adjust: 100%; /* 2 */
  -webkit-text-size-adjust: 100%; /* 2 */
  touch-action:none;
}

a{
  text-decoration: none;
  color:#333;
}
ul,li{
  list-style: none;
}

